:host {
  display: block;
  flex-shrink: 0;
}

.separator {
  background-color: hsl(var(--border));
}

.separator.orientation-horizontal {
  height: 1px;
  width: 100%;
}

.separator.orientation-vertical {
  width: 1px;
  height: 100%;
}
